@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;
    /* border: 2px solid red; */
    /* background-color: gray; */
    
}
.main-header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1{
    background-color: rgb(177, 177, 105);
    border: 3px solid rgb(241, 43, 43);
    color: #ffffff;
    width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 50px;
   font-weight: 700;
   margin-bottom: 0;
}
h1:hover{
    color:darkgoldenrod;
}
.half-width{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
}
.half-width-img{
    width: 50%;
    display: flex;
    /* background-color: rgb(177, 177, 105); */
    border-radius: 0px 30px 30px 0px;
    
}
.half-width-img img{
    width: 100%;
    margin-bottom: 0;
}
.half-width a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 187px;
    height: 56px;
    background-color: tomato;
    color: white;
}
.half-width a:hover{
padding: 5px;
font-size: 25px;
border: 3px solid white;
position: ;
}
.fa-circle-arrow-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 20px;
    color: rgb(98, 101, 101);
}
main{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-2{
    width: 1320px;
    height: auto;
    display:flex;
    justify-content: center;
    margin-top: 50px;
    gap: 24px;
    margin-bottom: 130px;
    /* border: 2px solid red; */
}
.side-box-width{
    display: flex;
    float: left;
}
.main-box-width{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.side-box{
    display: flex;
    background-color: rgb(83, 54, 54);
    width: 312px;
    height: 312px;
    border-radius: 10px;

}
.side-box>.list-1{
    display: flex;
    flex-direction: column;
    
}
.list-1 li{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
    font-size: 30px;
}
.list-1>li>a{
    text-decoration: none;
    background-color: #ffffff;
    width: 252px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
ul>li>a:hover{
    background-color: rgb(102, 102, 98);
    border: 1px solid white;
    
}
#blog{
    background-color: tomato;
    color: #ffffff;
}
.blog{
    width: 312px;
    height: 362px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.blog-image img{
    width: 312px;
    height: 175px;
}
.transfer{
    border: 2px solid;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    
}
.transfer:hover{
    border: 2px solid rgb(230, 4, 4);
    
}
.transfer a:hover{
    color: green;
    font-weight:bolder;
    font-size: 25px;
}
.h3-box h3{
    width: 272px;
    height: 54px; 
    margin-top: 15px;
    margin-left: 20px;

}
h3{
    font-weight: 600;
    font-size: 18px;
}
h3:hover{
    color: cadetblue;
}
.comment{
    display: flex;
    justify-content: space-between;
    width: 143px;
    height: 26px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    width: 100%;
    height: 444px;
    background-color: black;
    color: #ffffff;
}
.goal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.footer-list {
 width: 898px;
 height: 24px;
 display: flex;justify-content: center;
 align-items: center;

}
.list-2{
    display: flex;
    align-items: center;
    gap: 20px;
    

}
.list-2 li{
    list-style: none;
    
  
}
.list-2 li a{
    color: white;
}
.list-2 li a:hover{
    color:rgb(232, 200, 157);
    
}
.footer-object{
    display: flex;
    gap: 50px;
}
.footer-liss-positon{
    display: flex;justify-content: center;align-items: center;
}


/* Mobile Media Query */
@media only screen and (max-width: 668px) {
    
    
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1{
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}
.half-width{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: antiquewhite; */
}
.watch-live{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    background-color: aqua;
}
.half-width> p{
    width: 60%;
    /* background-color: rgb(146, 92, 27); */

}
.half-width h1{
    width: 60%;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.half-width-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .half-width-img img{
        width: 90%;
        margin-left: 30px;
        /* background-color: bisque; */
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        /* margin-top: 0; */
    }
    .section-2{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* display: grid;
        grid-template-columns: repeat(1,1fr); */
    }
    .side-box-width{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .side-box{
        background-color: white;
    }
    .main-box-width{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .blog{
        height: auto;
        /* background-color: aqua; */
    }
    .goal{
        margin-top: 0;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    
        
    }
    .list-2{
     /* background-color: bisque; */
     margin-top: 200px;
     display: flex;
     justify-content: center;
     margin-left: 0px;
     
}
span{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* align-items: center; */
     justify-content: center;
}
span li{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
}