@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;
    /* border: 2px solid red; */
    /* background-color: gray; */
    
}
.main-header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1{
    background-color: rgb(177, 177, 105);
    border: 3px solid rgba(219, 104, 22, 0.442);
    color: #ffffff;
    width: 1320px;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 50px;
   font-weight: 700;
   margin-bottom: 0;
}
h1:hover{
    color:rgba(10, 146, 117, 0.691);
    opacity: 0.5;
}
.half-width{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
}
.half-width-img{
    width: 50%;
    display: flex;
    /* background-color: rgb(177, 177, 105); */
    /* border-radius: 0px 30px 30px 0px; */
    
}
.half-width-img img{
    width: 100%;
    margin-bottom: 0;
}
.watch-live{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 56px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
}
.watch-live:hover{
padding: 5px;
background-color:  tomato;
opacity: 0.6;
cursor: pointer;
}

main{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-2{
    width: 1320px;
    height: auto;
    display:flex;
    justify-content: center;
    margin-top: 50px;
    gap: 24px;
    margin-bottom: 130px;
    /* border: 2px solid red; */
}
.side-box-width{
    display: flex;
    float: left;
}
.main-box-width{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.side-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(67, 193, 130);
    width: 312px;
    height: 312px;
    border-radius: 10px;
}
.btn-side-box{
    margin-top: 20px;
    font-size: 20px;
    background-color:rgb(255, 255, 255);
    border: 0 ;
    width: 190px;
    height: 56px;
    border-radius: 5px;
    font-weight: 700;
    /* color: rgb(255, 213, 0); */
}
.btn-side-box:hover{
    background-color: gray;
    cursor: pointer;
    border: 2px solid white;

}
#btn-blog{
    background-color: tomato;
    color: #ffffff;
}
#btn-blog:hover{
    opacity: 0.5;
}
.blog{
    width: 312px;
    height: 362px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.blog-image img{
    width: 312px;
    height: 175px;
}
.transfer{
    background-color:antiquewhite;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;

    
}
.transfer:hover{
    background-color:rgb(113, 130, 131);
    
}
.transfer a{
    color:darksalmon;
}
.h3-box h3{
    width: 272px;
    height: 54px; 
    margin-top: 15px;
    margin-left: 20px;

}
h3{
    font-weight: 600;
    font-size: 18px;
}
h3:hover{
    color: cadetblue;
}
.comment{
    display: flex;
    justify-content: space-between;
    width: 143px;
    height: 26px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer{
    width: 100%;
    height: 444px;
    background-color: black;
    color: #ffffff;
}
.goal{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    margin-bottom: 50px;
}
#goal:hover{
    color: red;
    /* font-weight: 700; */

}
.ft-btn{
    display: flex;
    justify-content: center;
    gap: 40px;
 
}
.btn-body{
 background-color:black;
 color: white;
 border: 0;
 cursor: pointer;
 font-size: 22px;
}
.btn-body:hover{
    color: rgb(236, 189, 128);
    
}

/*--------------------------------- 
Mobile Media Query
----------------------------------- */

@media screen and
(max-width: 767px) {
    .half-width{
        display: flex;
        justify-content: center;
        align-items: center;
      width: 100%;
      /* background-color: green; */
      margin: 0;
      height: 50%;
    }
    .half-width-img{
        margin-top: 30px;
        width: 80%;
        height: 50%;
        /* background-color: red; */
    }
    .section-1{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .section-2{
        display: inline-flex;
        flex-direction: column;
    }
    .side-box{
        width: 100%;
        background-color: white; 
    }
    .btn-side-box{
        width:50%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .side-box-width{
        display: flex;
        justify-content: center;  
    }
    .main-box-width{
        display: flex;
        flex-direction: column;
    }
    .blog, .blog-image img{
        width: 100%;
        height: auto;
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .half-width>h1{
        font-size: 30px;
        /* margin-left: 30px; */
        width: 80%;
        /* background-color: aqua; */
    }
    .half-width>p{
        /* margin-left: 30px; */
        /* background-color: olivedrab; */
        width: 80%;
    }
    .ft-btn{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .goal{
        margin: 30px;
    }    
}